body
{
    font-family: 'Times New Roman', Times, serif; /*default font*/
    color: #ffffff;
}



header
{
    padding: 30px;
    text-align: center;
    background: #106d5a;
    color: #ffffff;
    font-size: 30px;
}
body
{
    background: #000000;
}
footer
{
    margin-top: 50px;
    padding: 10px;
    background: #106d5a;
    font-size: 15px;
}



h1
{
    font-size: 38px;
    color: #2b0d7ebd;
}

h2
{
    padding-top: 3%;
    font-size: 42px;
    color: #730707;
    font-weight: bold;
    text-decoration: underline;
}
footer
{
    font-size: 23px;
    text-align: center;
}


.italic
{
    font-style: italic;
}

.selector
{
    display: inline-block;
    margin: 10px;
    text-decoration: underline;
    font-weight: bold;
    font-size: 24px;
}

.button
{
    display: inline-block;
    background-color: #615e33;
    padding: 10px;
    font-weight: bold;
    width: 30%;
    align-self: center;
    justify-self: center;
}
.button:hover
{
    background-color: #31301b;
}
.linkPlaceholder
{
    font-size:18px;
    color: #10316d;
    text-decoration: underline;
}
.maskedLink
{
    text-decoration: none;
}


#date
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-style: italic;
}



.wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3px;
}

.col1{
    grid-column: 1;
}
.col2{
    grid-column: 2;
}
.col3{
    grid-column: 3;
}
.row1{
    grid-row: 1;
}
.row2{
    grid-row: 2;
}
.row3{
    grid-row: 3;
}

.rowcentered{
    grid-column: 1/-1;
    align-self: center;
    justify-self: center;
}
.colcentered{
    grid-column: 1/-1;
    align-self: center;
    justify-self: center;
}